/*
  Colors:
  Purples: #5C005C, Purple, Orchid, Plum
  Parchments: Wheat, Antique White
*/

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------
   Styles for header
   ----------------------------- */
/* #region */

header h1 {
    text-align: center;
    font-size: 60px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 90px;
    padding-bottom: 10px;
    background-color: Purple;
    border: 1px solid orchid;
    color: wheat;
}

header nav {
    background-color: purple;
    color: wheat;
}

header nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0px;
}

header nav li {
    list-style: none;
    flex: 16.5%;
    text-align: center;
}

header nav a{
    display: block;
    padding: 10px;
}

header nav a:link {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

header nav a:visited {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

header nav a:hover {
    background-color: indigo;
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

header nav a:active {
    background-color: orchid;
    text-decoration: underline;
    color: wheat;
    font-weight: bold;
}

/* #endregion */

/* ----------------------------- */

/* -----------------------------
   Styles for main
   ----------------------------- */
/* #region */

main p {
    
    color: #5C005C;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
}

.site-preview-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.site-preview-container ul{
    flex: 55%;
    margin-top: 0px;
    margin-right: 10px;
    padding: 5px;
}

.site-preview-container li {
    list-style: none;
    margin-bottom: 20px;
}

.site-preview-container ul a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 375px;
    width: 1088px;
}

.image-link-text {
    display: block;
    width: 1088px;
    background-color: rgb(173, 216, 230, .5);
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    color: indigo;
    padding: 20px;
}

#group-link {
    background-image: url(../images/longsword-button-crop.jpg);
}

#projects-link {
    background-image: url(../images/book-button-crop.jpg);
}

.site-preview-container aside {
    flex: 25%;
    border: 2px solid orchid;
    background-color: wheat;
    margin-left: 10px;
    padding: 5px;
}

.site-preview-container h2 {
    text-align: center;
    color: indigo;
}



/* #endregion */

/* ----------------------------- */

/* -----------------------------
   Styles for footer
   ----------------------------- */
/* #region */

footer {
    display: flex;
    justify-content: space-between;
    background-color: purple;
    margin-top: 20px;
}

footer p {
    flex: 25%;
    color: wheat;
    padding: 10px;
}

#footer-latin-name {
    text-align: left;
    padding-left: 20px;
}

#footer-english-name {
    text-align: right;
    padding-right: 20px;
}

/* #endregion */

/* ----------------------------- */