/*
  Colors:
  Purples: #5C005C, Purple, Orchid, Indigo
  Blue: 
  Parchments: Antique White, linen
*/

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------
   Shared styles for header
   ----------------------------- */
/* #region */

header h1 {
    text-align: center;
    font-size: 60px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 90px;
    padding-bottom: 10px;
    background-color: Purple;
    border: 1px solid orchid;
    color: linen;
}

header nav {
    background-color: purple;
    color: linen;
}

header nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0px;
}

header nav li {
    list-style: none;
    flex: 16.5%;
    text-align: center;
}

header nav a{
    display: block;
    padding: 10px;
}

header nav a:link {
    text-decoration: none;
    color: linen;
    font-weight: bold;
}

header nav a:visited {
    text-decoration: none;
    color: linen;
    font-weight: bold;
}

header nav a:hover {
    background-color: indigo;
    text-decoration: none;
    color: linen;
    font-weight: bold;
}

header nav a:active {
    background-color: orchid;
    text-decoration: underline;
    color: linen;
    font-weight: bold;
}

/* #endregion */

/* ----------------------------- */

/* -----------------------------
   Shared styles for main
   ----------------------------- */
/* #region */
h1, h2, h3 {
    color: indigo;
}

p, li {
    color: #5C005C;
}

p {
    font-size: larger;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
    margin-right: 5%;
    margin-left: 5%;
}

.primary-content-container{
    flex: 55%;
    margin-top: 0px;
    margin-right: 10px;
    padding: 5px;
}

aside {
    flex: 25%;
    border: 2px solid indigo;
    background-color: linen;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
}

aside h2 {
    text-align: center;
    color: indigo;
}

/* #endregion */

/* ----------------------------- */

/* -----------------------------
   Shared styles for footer
   ----------------------------- */
/* #region */

footer {
    display: flex;
    justify-content: space-between;
    background-color: purple;
    margin-top: 20px;
}

footer p {
    flex: 25%;
    color: wheat;
    padding: 10px;
}

#footer-latin-name {
    text-align: left;
    padding-left: 20px;
}

#footer-english-name {
    text-align: right;
    padding-right: 20px;
}

/* #endregion */

/* ----------------------------- */